.modal {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal-content {
    padding: 30px;

    display: flex;

    background-color: white;

    border-radius: 5px;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-field {
    padding: 5px;
}

.form-buttons {
    margin: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.form-buttons input {
    height: 30px;

    margin: 10px;
    padding: 7.5px;

    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-buttons input[type = "button"] {
    background-color: rgb(200, 0, 0);
}

.form-buttons input[type = "reset"] {
    background-color: rgb(0, 0, 150);
}

.form-buttons input[type = "submit"] {
    background-color: rgb(0, 150, 0);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

label {
    padding-left: 5px;
    font-size: 20px;
}

input[type = "text"] {
    width: 100%;

    padding: 5px;

    font-size: 25px;

    border: solid 1px black;
    border-radius: 5px;
}

fieldset {
    display: flex;
    flex-direction: column;	

    padding: 15px;
    border-radius: 5px;
}

legend {
    padding: 0px 10px;
}

@media (max-width: 600px) {
    .form-buttons {
        flex-direction: column;
    }
}